
::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
  background: hsla(0, 0%, 100%, .6);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(95, 95, 95, .4);
  transition: all .2s;
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.pointer {
  cursor: pointer!important;
}
.articleHeader a {
  text-decoration: none;
}
.wrap > span:first-child {
  margin-left: 0;
  padding-left: 0;
}
.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.designWidth {
  min-width: 200px;max-width: 980px;margin: 0 auto;
}
.v-application {
  .markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0;
    padding: 25px 0;
    color: inherit!important;
    code:after, code:before, kbd:after, kbd:before {
      content: "";
    }
  }
  .markdown-body code {
    box-shadow: none;
  }
  .markdown-body pre {
    box-shadow: none;
  }
}
.elevation-wrap {
  background-color: #ffffff;
  border-radius: 4px;
}
.theme--dark {
  .markdown-body .highlight pre, .markdown-body pre {
    background-color: #363636;
  }
  .hljs {
    color: white;
  }
  .hljs-keyword, .hljs-selector-tag, .hljs-subst {
    color: white;
  }
  .elevation-wrap {
    background-color: #4e4e4e;
  }
}
@media (max-width: 767px) {
  .markdown-body {
    padding: 15px 0;
  }
}

.application--wrap .header .user-avatar {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#app .v-list-item .v-list-item__title, .v-list-item .v-list-item__subtitle {
  line-height: normal;
}
.v-content__wrap > .container{
  height: 100%;
}
// 笔记样式
.note {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  .tree-card {
    position: fixed;
    max-height: 90%;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
  .v-treeview i {
    font-style: normal;
  }
  .markdown-viewer {
    width: 100%;
    min-height: 90vh;
    position: relative;
    margin-left: 350px;
    .markdown-body {
      margin: 0 auto;
    }
  }
  .simulationSsr {
    display: none;
  }
  .markdown-body ul li, .markdown-body ol li {
    position: relative;
  }
  .markdown-body .task-item {
    border: 0;
    list-style: none;
    padding-left: 24px;
    margin-left: -24px;
  }
  
  .markdown-body .task-item::before {
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: center;
    content: '';
    margin-left: 0;
    margin-top: 0;
    border-radius: 0;
    height: 18px;
    width: 18px;
    position: absolute;
    left: 0;
    top: 1px;
    cursor: pointer;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAERlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAABAAAAEqADAAQAAAABAAAAEgAAAACaqbJVAAAAQklEQVQ4EWM8c+bMfwYqABaQGcbGxhQZdfbsWQYmikxA0jxqEFJg4GCOhhGOgEESHg0jpMDAwRx8YQQuj0DlCaUAAEdBCPJ7TaEPAAAAAElFTkSuQmCC');
  }
  
  .markdown-body .task-item.checked::before {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAERlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAABAAAAEqADAAQAAAABAAAAEgAAAACaqbJVAAAA1ElEQVQ4EWP0nvbsPwMVABMVzAAbMWoQIiT5OJgYvLS5EAJQFguGCB4BkCHt/kIM8kKsYFXbrn6DqyY6sJENefjuN8ORuz/ghoAYWA0COR2kEQbQDanc+I7h049/MGkwjVANFQYZkmXHD/YCyABiDAFpxQgjkJO9dbjA4QAKDxAAhQnIO9hcAlYAJDBcBHIySANII8gAYgwBGYZhEEgQZFjVJohhhFwCUg8CjPgyLT8nE8N/YJZGD1iIVlQSI4yQpT9+R40ZZDl0NlavoSsihj/4DAIAR+hZHUj727YAAAAASUVORK5CYII=');
  }
  
  .markdown-body .task-item input[type='checkbox']{
    margin-left: -17px;
    margin-right: 3.8px;
    margin-top: 3px;font-size: 18px;
    width: 18px;
    height: 18px;
  }
}
